.cardContainer {
  border-radius: 10%;
  background-color: white;
  margin: 5px;
}

.imgPoke {
  display: flex;
  align-items: center;
  justify-content: center;
}

.namePoke {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.typePoke {
  display: flex;
  justify-content: center;
}

.dataPoke {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.type {
  border: 1px solid #8f8f8fcd;
  border-radius: 20%;
  padding: 2px 5px;
  margin-left: 5px;
}
