.cardContainer {
  border-radius: 10%;
  background-color: white;
  margin: 5px;
}

.imgPoke {
  display: flex;
  align-items: center;
  justify-content: center;
}

.namePoke {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.typePoke {
  display: flex;
  justify-content: center;
}

.dataPoke {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.type {
  background-color: #fd7d24;
  border: 1px solid #9C531F;
  border-radius: 20%;
}
